<!DOCTYPE html>
<html>
	<head>
		<title>All Flight</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<style type="text/css">
			img{
				pointer-events: none;
			}
			a{
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>
		  	<a class="navbar-brand" href=""><img src="assets/logo.png"></a>
		  	<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			 	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			    	<li class="nav-item active">
			        	<a class="nav-link" href="/home">Flights</a>
			    	</li>
			    </ul>
			    <a href="/logout"><button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button></a>
	  		</div>
		</nav>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-sm"></div>
				<div class="col-sm"><h1>Showing all flights</h1></div>
				<div class="col-sm"></div>	
			</div>
			<br>
			<div class="row">
				<div class="col"></div>
				<div class="col-6">
					<ul class="list-group list-group-flush">
						<% flights.forEach((flight) => { %>
							<li class="list-group-item d-flex justify-content-between">
				  				<a href="/home/<%= flight._id %>">
				  					<div class="container">
				  					<%=flight.source%><img src="departure.png"> <%=flight.destination%>
				  					</div>
				  				</a>
				    			<span class="badge badge-success badge-pill">INR <%= flight.price %></span>
				  			</li>
						<% }) %>
			  			
						<!-- <li class="list-group-item d-flex justify-content-between">
			  				<a href="info.html">
			  					<div class="container">
			  					Mumbai <img src="assets/departure.png"> Delhi 
			  					</div>
			  				</a>
			    			<span class="badge badge-success badge-pill">INR 7250</span>
			  			</li>
			  			<li class="list-group-item d-flex justify-content-between">
			  				<a href="info.html">
			  					<div class="container">
			  					Hyderabad <img src="assets/departure.png"> Chennai 
			  					</div>
			  				</a>
			    			<span class="badge badge-success badge-pill">INR 6000</span>
			  			</li>
			  			<li class="list-group-item d-flex justify-content-between">
			  				<a href="info.html">
			  					<div class="container">
			  					Jaipur <img src="assets/departure.png"> Pune 
			  					</div>
			  				</a>
			    			<span class="badge badge-success badge-pill">INR 4550</span>
			  			</li> -->
					</ul>
				</div>
				<div class="col"></div>	
			</div>
		</div>	
	</body>
</html>